 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,45,51,0.65), rgba(41,45,51,0.65)), url("images/e02b84c31da3554b29a4f4ad8b4d5281c7c29ff74b17ecb62bc1c90b7179bfdee672cb2e562819798bab2265926cb57f23b6f6f363e5209bcbb5ab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 156px auto 0;
}

.u-section-1 .u-line-1 {
  width: 936px;
  transform-origin: left center 0px;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0 92px;
}

.u-section-1 .u-text-2 {
  font-size: 1.75rem;
  --animation-custom_in-scale: 1;
  margin: 36px 112px 0 92px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 562px;
  margin: 39px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 111px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0 31px;
  padding: 9px 37px 11px 36px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 111px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0;
  padding: 9px 53px 11px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -649px;
  }

  .u-section-1 .u-line-1 {
    height: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: 760px;
    margin-left: 4px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -1008px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -1019px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -1168px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 3px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1325px;
}

.u-section-2 .u-group-1 {
  min-height: 153px;
  margin-top: 14px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-scale: 1;
  margin: 24px 225px 0 212px;
}

.u-section-2 .u-line-1 {
  width: 864px;
  margin: 14px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 6px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 30px;
}

.u-section-2 .u-image-1 {
  width: 328px;
  height: 328px;
  background-image: url("images/Liu.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 233deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}


.u-section-2 .u-layout-cell-2 {
  min-height: 362px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 13px 30px 8px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  --animation-custom_in-scale: 1;
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 363px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  --animation-custom_in-scale: 1;
  margin: 54px 0 0 20px;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0 20px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 363px;
}

.u-section-2 .u-container-layout-5 {
  padding: 18px 30px 14px;
}

.u-section-2 .u-image-2 {
  width: 328px;
  height: 328px;
  background-image: url("images/Lin.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 1px auto 0;
}

.u-section-2 .u-layout-wrap-3 {
  width: 100%;
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 361px;
}

.u-section-2 .u-container-layout-6 {
  padding: 17px 30px;
}

.u-section-2 .u-image-3 {
  width: 328px;
  height: 328px;
  background-image: url("images/Tsai.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 1px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 361px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 16px 0;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px 24px 0;
}

.u-section-2 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 24px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    margin-right: 125px;
    margin-left: 112px;
    animation-duration: 1250ms;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    width: -22px;
    height: -22px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 299px;
  }

  .u-section-2 .u-image-2 {
    width: -17px;
    height: -17px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-2 .u-image-3 {
    width: -10px;
    height: -10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1791px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 15px;
    margin-left: 2px;
  }

  .u-section-2 .u-line-1 {
    width: 660px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 792px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 229px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2583px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 429px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 722px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2139px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 270px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }
}